@model Task.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2 style="font-family:'Bold Art';color:palevioletred ">Details</h2>
<hr />

<div>
    
    <dl class="dl-horizontal"style="color:white" >
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    <a href="/Clients/Edit/@Model.ID" class="btn btn-success">Edit</a>
    |
    <a href="/Clients/Index" class="btn btn-danger">Back to List</a>
</p>
